@import "tailwindcss";


@theme {
  --color-background: #040d14;
  --bg-color-background: #232b36;
  --color-second-background: #26303a;
  --color-foreground: #f0f2f5;

  --color-card: #142943;

  /* Color Primary */
  --color-primary: #4ce9fa;
  --color-primary-foreground: #4e6d9a;

  /* Color Secondary */
  --color-secondary: #232b36;
  --color-secondary-foreground: #e2e3e6;

  /* Color Muted */
  --color-muted: #0a131a;
  --color-muted-foreground: #313c46;

  /* Color Border */
  --color-border: #27313b;

  /* Color Highlight and Surface */
  --color-highlight: #4cf9db;
  --color-surface: #020911;

  /* Color Hover for Navbar */
  --color-hover-navbar: #5f7e9a;

  /* Color for Footer Navbar */
  --color-footer-primary: #4f7e9b;
  --color-footer-secondary: #f9d7f9;
  --color-footer-hover-primary: var(--color-highlight);

  /* Radius */

  --radius-25: 0.25rem;
  --radius-50: 0.5rem;
  --radius-75: 0.75rem;
  --radius-100: 1rem;
  --radius-150: 1.5rem;
  --radius-200: 2rem;
  --radius-250: 2.5rem;
  --radius-300: 3rem;
  --radius-350: 3.5rem;
  --radius-400: 4rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--color-second-background);
    color: var(--color-secondary-foreground);
    font-family: "Inter", sans-serif;
  }

  .font-serif {
    font-family: "Playfair Display", serif;
  }
}

@layer components {
  .container-navbar {
    width: 80%;
    height: auto;
    padding-block: 2px;
    padding-inline: 2px;
    margin-block: 2px;
    margin-inline: 2px;
  }
  .glass {
    position: relative;
    background-color: color-mix( in srgb, var(--color-gray-800) 20%, transparent);
    backdrop-filter: blur(16px);
    border: 3px solid color-mix(in srgb, var(--color-gray-800) 5%, transparent);
    box-shadow: 0 0 20px color-mix(in srgb, var(--color-border) 15%, transparent),
    inset 0 1px 0 color-mix(in srgb, white 20%, transparent);
  }

  .glass::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
      circle at 20% 100%,
      color-mix(in srgb, white 12%, transparent) 0%,
      transparent 60%
    );
    pointer-events: none;
  }

  .glass-strong {
    position: relative;
    background-color: color-mix(in srgb, var(--color-gray-800) 20%, transparent);
    backdrop-filter: blur(12px);
    border: 4px solid color-mix(in srgb, var(--color-border) 10%, transparent);
    box-shadow: 0 0 20px color-mix(in srgb, var(--color-gray-800), 15%, transparant),
    inset 0 1px 0 color-mix(in srgb, whtie 20%, transparent);
  }

  .glass-Strong::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
      circle at 50% 50%,
      color-mix(in srgb, white 20%, transparent) 0%,
      transparent 60px
    );
  }
}